
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=12c4e00c848357f8c80b85cd17a87502
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
